.DS_Store
.cache
.classpath
.project
.settings
bin/
target/
project/target/
project/boot/
project/build/
project/plugins/
/deploy.old
deploy/**/*.jar
deploy/release/
lib.old/
std.err
std.out
*.class
*.log
